<html>
   <head>
      <style>
         h1{
            position: relative;
            top:5px;
         }
         .welcome{
            position: relative;
            top:50px;
         }
         label{
            font-size:x-large;
         }
         
      </style>
   </head>
   <body>
      <h1><center> Welcome program</center> </h1>
      <form class= "welcome" action="https://demo-bytesbots.herokuapp.com/login" method="post">
        <center> <label for="name">Enter your Name:</label></center><br>
        <center> <input type="text" id="name" name="name"><br></center><br>
         <center><button type="submit">Submit</button></center>
      </form>

   </body>
</html>
